
@{
    ViewData["Title"] = "RemoveAReservation";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<!doctype html>
<html>
    <head>
        <title>Успешно!</title>
        <link rel="stylesheet" href="~/css/Home/RemoveAReservation.css" asp-append-version="true"/>
    </head>
    <body>
        <h1 id="RemovePageHeadline">Бронь столика отменена</h1>
        <a href="~/Home/Index"><input type="button" value="Вернуться назад" id="BackButton" /></a>
    </body>
</html>

