
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/__Layout/MasterStyle.css" />
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
    <header id="MasterHeader">
        <h1 id="MasterHeadline"><a href="/Home/Index">Бронирование столиков</a></h1>
        <p id="MasterHeadlineTest" style="text-align: center; font-size: large;">
            Министерство науки и высшего образования РФ<br>
            Федеральное государственное бюджетное образовательное учреждение<br>
            высшего образования «Владимирский государственный университет имени <br>
            Александра Григорьевича и Николая Григорьевича Столетовых»<br>
            Кафедра Физики и Прикладной Математики
        </p>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
